
@{
    ViewData["Title"] = "MakaleDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string takip = "";
    if (ViewBag.takip is not null)
    {
       takip = ViewBag.takip;
    }

}
@model EntityLayer.Makale




<section class="container">
    <div class="page-container">
        <div class="page-content">
            <div class="card">
                <div class="card-header pt-0">
                    <h3 class="card-title mb-4" style="text-align:center">@Model.MakaleBaşlik</h3>
                    <div class="blog-media mb-4">
                        <img src="~/MakaleImg/@Model.MakaleResim" alt="" class="w-100">

                    </div>
                    <small class="small text-muted">
                        <a href="#" class="text-muted">Yazar: @ViewBag.UserName</a>




                        @Html.ActionLink("Beğeni " + Model._Like, "MakaleLike", new { makaleID = Model.MakaleID }, new
                   {
                       style = "Color:" + color(ViewBag.like)
                   })
                        
                        @Html.ActionLink("Takip"+ takip, "Takip", new { userid = Model.UserID, MakaleID = Model.MakaleID }, new
                   {
                       style = "Color:" + color2(ViewBag.follow)
                   })



                    </small>
                </div>
                <div class="card-body border-top">
                    <p class="my-3"> <pre style="white-space: pre-wrap;"  class="my-3">@Model.MakaleAciklama</pre></p>

                </div>

                <div class="card-footer">


                    @await Component.InvokeAsync("YorumGetir", new { makale = Model })


                    <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark">Yorum Yaz</a></h6>
                    <hr>
                    <form method="post" action="MakaleDetail" controller="Home">
                        <div class="form-row">
                            <div class="col-12 form-group">

                                <input type="hidden" id="custId" name="MakaleId" value="@Model.MakaleID">

                                <textarea name="yorum" id="" cols="30" rows="10" class="form-control" placeholder="Yorumu Buraya Gir"></textarea>

                            </div>
                            <div class="form-group col-12">
                                <button class="btn btn-primary btn-block" type="submit">Yorum Yap</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- Sidebar -->
        <div class="page-sidebar">


            <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
                <span href="#" class="font-weight-bold">ADS</span>
            </div>
        </div>
    </div>
</section>


@{
    string color(bool x)
    {
        if (x == false)
        {
            return "Black";
        }
        else
        {
            return "Blue";
        }
    }
    string color2(bool x)
    {
        if (x == false)
        {
            return "Black";
        }
        else
        {
            return "Blue";
        }
    }
}