@model EntityLayer.User
@{
    ViewData["Title"] = "UserOp";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

}


<div class="pd-20 card-box mb-30">
    <form method="post" enctype="multipart/form-data" asp-action="UserEdit" asp-controller="User">

        <div class="form-group row">
            <img src="~/UserImg/@Model.KullaniciResim" style="width:auto;height:200px" />
        </div>
        <div class="form-group row">
            
            <label class="col-sm-12 col-md-2 col-form-label">Kullanıcı Resim</label>
            <div class="col-sm-12 col-md-10">
                <input type="file" id="file" name="file" class="" />
            </div>
        </div>
        <div class="form-group row">
            <input type="hidden" asp-for="UserID" value="@Model.UserID" />
            <input type="hidden" asp-for="KullaniciResim" value="@Model.KullaniciResim" />
            <label class="col-sm-12 col-md-2 col-form-label">Kullanıcı Adı</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" asp-for="KullaniciAdi" placeholder="@Model.KullaniciAdi" value="@Model.KullaniciAdi">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Şifre</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" asp-for="Sifre" type="text" placeholder="@Model.Sifre" value="@Model.Sifre">
            </div>
        </div>
        @if (User.Identity.Name == "Admin")
        {
            <div class="form-group row">
                <label class="col-sm-12 col-md-2 col-form-label">Role</label>
                <div class="col-sm-12 col-md-10">
                    <select asp-for="role" class="custom-select col-12">
                        <option selected="" value="@Model.role">Yazar</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>

                    </select>
                </div>
            </div>
        }
        else
        {
            <input type="hidden" asp-for="role" value="@Model.role" />
        }
        <button class="btn-success" type="submit">Kaydet</button>
        <button class="btn-danger"><a href="/User/UserDelete/@Model.UserID" style="color:white">Kullanıcıyı Sil</a></button>

    </form>
    <div class="collapse collapse-box" id="basic-form1">
        <div class="code-box">
            <div class="clearfix">
                <a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left" data-clipboard-target="#copy-pre"><i class="fa fa-clipboard"></i> Copy Code</a>
                <a href="#basic-form1" class="btn btn-primary btn-sm pull-right" rel="content-y" data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
            </div>
            <pre><code class="xml copy-pre" id="copy-pre">
<form>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Text</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" type="text" placeholder="Johnny Brown">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Search</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" placeholder="Search Here" type="search">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Email</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" value="bootstrap@example.com" type="email">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">URL</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" value="https://getbootstrap.com" type="url">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Telephone</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" value="1-(111)-111-1111" type="tel">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Password</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" value="password" type="password">
		</div>
	</div>
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Number</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control" value="100" type="number">
		</div>
	</div>
            <div class="form-group row">
            <label for="example-datetime-local-input" class="col-sm-12 col-md-2 col-form-label">Date and time</label>
            <div class="col-sm-12 col-md-10">
            <input class="form-control datetimepicker" placeholder="Choose Date anf time" type="text">
		</div>
	</div>
            
            <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Role</label>
            <div class="col-sm-12 col-md-10">
            <select class="custom-select col-12">
            <option selected="">Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
			</select>
		</div>
	</div>
            
</form>
							</code></pre>
        </div>
    </div>
</div>