@model EntityLayer.Makale
@{
    ViewData["Title"] = "MakaleEdit";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="pd-20 card-box mb-30">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row">
            <input type="hidden" asp-for="UserID" value="@Model.UserID" />
            <input type="hidden" asp-for="MakaleID" value="@Model.MakaleID" />
            <input type="hidden" asp-for="_Like" value="@Model._Like" />
            <input type="hidden" asp-for="MakaleStatus" value="@Model.MakaleStatus" />
            <label class="col-sm-12 col-md-2 col-form-label">Makale Resim</label>
            <input type="file" name="file" / class="form-control">
            <label class="col-sm-12 col-md-2 col-form-label">Makale Başlik</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" type="text" asp-for="MakaleBaşlik" placeholder="@Model.MakaleBaşlik" value="@Model.MakaleBaşlik">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Açıklama</label>
            <div class="col-sm-12 col-md-10">
                <input class="form-control" asp-for="MakaleAciklama" type="text" placeholder="@Model.MakaleAciklama" value="@Model.MakaleAciklama">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-md-2 col-form-label">Category</label>
            <div class="col-sm-12 col-md-10">
                <select asp-for="CategoryID" class="custom-select col-12">

                    @await Component.InvokeAsync("CategoryList")


                </select>
            </div>
        </div>
        <button type="submit">Kaydet</button>


    </form>
    
</div>

